DATABASE_URL="postgresql://[NOMBRE_DE_USUARIO]:[TU_PASSWORD]@[HOST]:[PUERTO]/[NOMBRE_DB]"
PORT=3000

REFRESH_TOKEN_SECRET="clave-segura"
ACCESS_TOKEN_SECRET="clave-segura-token"

ADMIN_EMAIL="admin@admin.com"